<style type="text/css">

div.category
{
background-color:#FFFFFF;
margin:1px;
height: 250px;
width: 200px;
}
div.category_next
{
border-left:1px solid black;
}
</style>
	<table>
    <tr>
    <% @board.categories.each do |c|%>
       <% if @board.categories[0]==c 
       	     cl="category"
       	  else 
       	  	cl="category category_next"
       	  end%>
    	<td>
        	<div id="<%=c.id%>"class="<%=cl%>">
        		<h3 align="center"><%=c.name%></h3>
        		<%= render 'tickets', {:category => c}%>
			<%=drop_receiving_element c.id.to_s, 
			 :url=>{:controller=>"categories",:action=>"add_ticket"}%>
			</div>
    	</td>
    <% end%>
    </tr>
	</table>
